body {
    background-color: #2f3542;
    color: #2c3e50;
}
a {
    color: #2f3542;
}

h1 {
    color:#a3a1f0;
}

#top-bar {
    background-color: #474787;
}

#article-row {
    background-color: #a6a5f7;
}