body {
    background-color: #2f4154;
    color: #ffffff;
}
a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

h1 {
    color:#ecf0f1;
}

#top-bar {
    background-color: #636e72;
}

#article-row {
    background-color: #2c3e50;
}